{% extends 'base.html' %}
{% block title%}ManagerUpdate{%endblock title%}
{% block styles%} <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='Manager.css') }}">{% endblock styles%}
{% block nav%}<ul id="menu">
    <li ><a class ="navbar"  href="/Managerlogin"><button type="button" class="navbar" id="Sign" class="navbar">Logout</button></a></li>
</ul>{% endblock nav %}
{% block body %} 
 <body>
  
        <div class="co">
            <div class="Container1">
                <h2>Update Customer</h2>
            </div>
            <form action="/update/{{customers.SNo}}" method ="POST">
            <div class="Container2">
    
                <h3 style="padding-top: 5vh;">Name</h3>
                
                <input  class="title" id="title" type="text"  name = "Name" placeholder="Enter name" value = "{{customers.Name}}">
                <h3>Phone Number</h3>
                <input type="tel"  maxlength="12" name = "Phone"
                 class="Description" id = "Description"   placeholder="Enter Phone Number" value = "{{customers.Phone}}">
                 <div style="display: flex; justify-content: space-between;">
                <button class="addlist" id = "adde" type="submit">Add</button>
            
            </form>
                
               
                </div>
                
                
                
                
            </div>
       
        </div>
       
     
</body>
{% endblock body%}
